/*
Code citation: 
css skeleton code obtained from CS 290 template
*/
html, body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  position: sticky; 
  top: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0.5rem;
  padding-left: 4rem;
  background-color: #333333;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

.logo {
  margin-right: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-image: linear-gradient(45deg, #7288f6 0%, #5bade8 70%);
  background-clip: text;
  color: transparent;
}

.logo:hover {
  color: #75b7e3;
}

/* 
dropdown code obtained and modified from documentation of source url:  https://www.w3schools.com/howto/howto_css_dropdown.asp
shape of border of dropdown button learned from following tutorial https://css-tricks.com/the-shapes-of-css/
*/
/* Dropdown Button */
.dropdown-button {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  background-color: #333333;
  border: none;
}

.dropdown-button:hover {
  transition: ease-out 200ms;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 1.5rem;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  opacity: 0;
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 300px;
  padding: 0.5rem;
  text-align: left;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: opacity 0.5s ease;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  opacity: 1;
  display: block;
}

/* Links inside the dropdown */
.dropdown-content a {
  font-size: 1rem;
  padding: 0.2rem;
  text-decoration: none;
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown
.dropdown:hover .dropbtn {background-color: #3e8e41;} */

.App-body {
  color: rgb(84, 84, 84);
  font-size: calc(10px + 2vmin);
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
}

.flex-column1 {
  flex: 2 1 0;
  padding-right: 0.5rem;
  text-align: center;
}

.flex-column2 {
  flex: 1 1 0;
  padding-left: 0.5rem;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

nav.App-nav {
  margin-left: 3rem;
}

a {
  color: rgb(39, 39, 39);
  font-size: 1.2rem;
  margin: 0.5rem 1rem 0.5rem 1rem;
  vertical-align: middle;
  text-decoration: none; 
  transition: ease-out 200ms;
}

/*
Code citation: styling for lists credited to https://www.w3schools.com/css/css_list.asp
*/
.userGuide {
  font-size: 1rem;
  margin: 0.5rem 1rem 0.5rem 1rem;
  text-align: left;
  list-style-type: circle;
  list-style-position: outside;
}

a:hover, button:hover {
  color: rgb(151, 151, 151);
}

.icon {
  opacity: 1;
  cursor: pointer;
}

.icon:hover {
  opacity: 0.5;
  transition: opacity 200ms ease;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden; /* Hide outside border */
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
}

thead { 
  color: rgb(255, 255, 255);
  padding: 10px 20px 10px 20px;
  background:#333333;
  font-size: 1rem;
}

tbody { 
  color: rgb(39, 39, 39);
  background-color: #eeeeee;
  padding: 10px 20px 10px 20px;
  font-size: 1rem;
}

th, td {
  padding: 10px 20px 10px 20px;
  border: 1px solid rgb(204, 204, 204);
  font-weight: normal;
  text-align: left;
}

h3 {
  padding: 0.5rem;
  font-size: 1.8rem;
}

h4 {
  font-size: 1.2rem;
  margin: 0rem;
}

p {
  font-size: 1rem;
  text-align: left;
}

.page-description {
  border: 1px solid rgb(204, 204, 204);
  padding: 0.5em;
  border-radius: 20px;
}

.form-row {
  display: flex;
  padding: 1rem 2rem 0rem 2rem;
  justify-content: flex-end;
}

.form-row > label {
  flex: 1;
  font-size: 1rem;
  text-align: left;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.form-row > input {
  flex: 2;
  border-radius: 5px;
  border: 1px solid rgb(204, 204, 204);
}

.add-form {
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  font-size: 1rem;
  background-color: #eeeeee;
  color: rgb(39, 39, 39);
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
}

.add-button {
  padding: 0.5em 2em;
  font-size: 1rem;
  background-color: rgba(76,175,80);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-out 200ms;
}

.add-button:hover {
  background-color: rgba(76,175,80, 70%);
  color: white;
}

.SELECT-button {
  padding: 0.5em 1.5em;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1rem;
  background-color: rgb(89, 120, 191);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-out 200ms;
}

.SELECT-button:hover {
  background-color: rgba(89, 120, 191, 80%);
  color: white;
}

.landing-button:hover {
  background-color: rgb(126, 154, 222);
  color: white;
}

/*
Code citation: code to resize table and make it scrollable thanks to https://www.outsystems.com/forums/discussion/60920/shrink-a-table/#
*/
#resizeSearch {
  overflow-x: auto; 
  display:block;
  margin: auto;
  text-align: center;
}

.resizeTable {
  text-align: center;
}

/* h1 {
  font-size: 2em;
  background-image: linear-gradient(45deg, #ffa54c 0%, #e175a4 80%);
  background-clip: text;
  color: transparent;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
